@import 'tailwindcss';

/* Preline UI */
@import "../../node_modules/preline/variants.css";
@source "../../node_modules/preline/dist/*.js";

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

/* Required styles for Vue Flow */
@import '@vue-flow/core/dist/style.css';

/* Optional: Default theme for Vue Flow (includes basic styling for nodes and edges) */
@import '@vue-flow/core/dist/theme-default.css';

@theme {
    --font-sans: 'Instrument Sans', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
        'Segoe UI Symbol', 'Noto Color Emoji';
}

/**
 *  Overide mobile number inputs using the intl-tel-input package to display in full-width.
 *  Refer to: resources/js/partials/inputs/MobileNumberInput.vue
 */
.iti { width: 100% !important; }

.iti .iti__selected-dial-code {
    @apply text-sm leading-6 font-medium text-gray-700;
}

.iti .iti__search-input {
    @apply py-2 px-2.5
}

.fade-1-enter-active,
.fade-1-leave-active {
  transition: opacity 0.5s ease;
}

.fade-1-enter-from,
.fade-1-leave-to {
  opacity: 0;
}

/* Wave animation styles */
.wave-container {
    top: 500px;
    left: 50%;
    width: 500px;
    height: 500px;
    display: flex;
    position: absolute;
    align-items: center;
    justify-content: center;
    transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
}

.wave {
    opacity: 0;
    position: absolute;
    border-radius: 50%;
    animation: wave-ripple 5s ease-out infinite;
    border: 4px solid rgba(255, 255, 255, 0.073);
}

.wave:nth-child(1) {
    animation-delay: 0s;
}

.wave:nth-child(2) {
    animation-delay: 1s;
}

.wave:nth-child(3) {
    animation-delay: 2s;
}

@keyframes wave-ripple {
    0% {
        transform: scale(0);
        opacity: 0;
    }
    30% {
        opacity: 1;
    }
    100% {
        transform: scale(3);
        opacity: 0;
    }
}
